#table {
	position:relative;
	width: 666px;
	height: 478px;
}

.table {
	position: absolute;
	width: 666px;
	height: 478px;
}

.robot {
	position: absolute;
	top: 0px;
	left: 0;
}

.radius {
	border-radius: .4em;
}
